<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>

<h1 th:text="${titulo}">123456789</h1>


<p>
<h4>index</h4>
<a href="http://localhost:8080">http://localhost:8080</a> <br>
<a href="http://localhost:8080/">http://localhost:8080/</a> <br>
<a href="http://localhost:8080/index">http://localhost:8080/index</a> <br>
<a href="http://localhost:8080/home">http://localhost:8080/home</a>
</p>


<p>
<h4>app</h4>
<a href="http://localhost:8080/app/link01">http://localhost:8080/app/link01</a>
</p>


<p>
<h4>usuario</h4>
<a href="http://localhost:8080/usuario/verusuario">http://localhost:8080/usuario/verusuario</a> <br>
<a href="http://localhost:8080/usuario/verlistausuarios">http://localhost:8080/usuario/verlistausuarios</a>
</p>


<p>
<h4>params</h4>
<a href="http://localhost:8080/params/string">http://localhost:8080/params/string</a> --> ValorPorDefecto <br>
<a href="http://localhost:8080/params/string?texto=Hola">http://localhost:8080/params/string?texto=Hola</a> <br>
<a href="http://localhost:8080/params/">http://localhost:8080/params/</a><br>
</p>

</body>
</html>